body hr {
  margin-top: 8px;
  margin-bottom: 8px;
}

.landing-container {
  margin-top: 25px;
}

/* ========== CARDS =========== */
.card-container {

}

.card{
  text-align: center;
  background: #f7f7f7;
  box-shadow: 2px 2px 2px #888888;
  border-radius: 5px;
  height: 275px;
}

.card-tags {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-image {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

/* =============== SIDEBAR ================== */

.sidebar {
  height: 500px;
  border-right: 1px solid black;
  margin-top: 10px;
}

.sidebar-title {
  text-align: left;
  font-family: 'Press Start 2P';
  margin-top: 0px;
}

.sidebar-description {
  margin-top: 10px;
}

    /* ========= SORT ========= */
    .sort-container {
      margin-top: 25px;
      text-align: left;
    }

    .sort-search {
      margin-top: 25px;
    }

    .sort-types {

    }

        .sort-types.type-item {

        }
